{% extends 'base_index.html' %}

{% block body %}


<body style="text-align: center;background-color: darkgray;">
    <h1 style="background-color: aqua;">TASK MANAGER</h1>
    <h2>Create New Task</h2>
    <div>
        <form action="{% url 'create_task' %}" method="post">
            {% csrf_token %}
            {% for fm in form %}
            <div style="margin-bottom: 50px;">
                {{fm.label}} : {{fm}}
            </div>
            {% endfor %}

            <button type="submit">SUBMIT</button>
            <button type="reset">RESET</button>
        </form>
    </div>
</body>

{% endblock %}