<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT TASK</title>
</head>

<body style="text-align: center;background-color: lightgray;">
    <h1 style="background-color: aqua;">TASK MANAGER</h1>
    <div>
        <button style="margin: 25px;">SAVE</button><br>
        <button><a href="">BACK</a></button>
    </div>

</body>

</html>