<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body style="background-color:bisque;">

    <div style="text-align: center;">
        <h1 style="background-color: aqua;">Task Manager</h1>
        <h1>
            <!-- <marquee behavior="" direction="" style="background-color: aqua;">TASK MANAGER</marquee> -->
        </h1>
        <!-- <button type="submit">Login</button> -->
        <button><a style="text-decoration: none;" href="{% url 'login' %}">Login</a></button>
    </div>
    <div>
        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia atque et eum reprehenderit tempora a
            commodi praesentium, corrupti est veniam beatae ullam exercitationem soluta perspiciatis dignissimos id
            saepe veritatis aspernatur iste facilis expedita vero. Ex cumque, dolores consequuntur facilis excepturi
            fugit aut, sit tempora placeat unde dicta quia vel hic commodi odio optio, explicabo animi quae doloribus
            voluptatum delectus voluptates corporis dolorem? Suscipit inventore accusantium alias consequuntur voluptas
            odio, hic et illum eum nihil, libero cum tenetur laborum sequi qui recusandae modi voluptatum est, eius ea!
            Magni molestias quaerat unde, repellat, cum porro aliquid nam commodi architecto, odio repellendus
            praesentium.</h4>

    </div>
    <div><img
            src="https://www.shutterstock.com/image-vector/business-planning-task-management-concept-600w-1987578881.jpg"
            alt="No Image" height="500px"></div>

    <!-- <marquee behavior="" direction="" style="background-color: aqua;">Sagar</marquee> -->

    <!-- <button><a href="http://127.0.0.1:5500/task/templates/login.html">Login</a></button> -->
</body>

</html>