<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: lightgray;">
    <h1 style="text-align: center;background-color: aqua;">TASK MANAGER</h1>

</body>
<div style="text-align: center;">
    <!-- <h2>Form Content</h2> -->



    <div>


        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% for u in form %}
            <div style="margin: 50px;">
                {{u.label}}:{{u}}
            </div>
            {% endfor %}

            <button type="submit">Login</button> &nbsp;&nbsp;
            <button><a style="text-decoration: none;" href="{% url 'home' %}">Back to Home</a></button>
        </form>
    </div>

</div>

</html>